<div id = "appContainer">
			<div class="banner">
				<div>
					<img class = "banner__img" src= "https://pbs.twimg.com/profile_banners/19897138/1496125366/1500x500">
				</div>
				<div class="container">
					<div class="avatar">
						<img class = "avatar__img" src= "https://pbs.twimg.com/profile_images/787569535880531968/3FtQQHyA_400x400.jpg">
					</div>
				</div>
			</div>

			<div class="navBar">
				<div class="container">
					<div class="gridCell size1of4">
					</div>
					<div class="gridCell size2of4 size4of4">
						<div class="navBar__content">
							<ul class="navBar__content__list">
								<li class="navBar__content__list__item">
									<div class="navBar__content__list__item__label">Tweets</div>
									<div class="navBar__content__list__item__val">15.5K</div>
								</li>
								<li class="navBar__content__list__item">
									<div class="navBar__content__list__item__label">Tweets</div>
									<div class="navBar__content__list__item__val">15.5K</div>
								</li>
								<li class="navBar__content__list__item">
									<div class="navBar__content__list__item__label">Tweets</div>
									<div class="navBar__content__list__item__val">15.5K</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="gridCell size1of4 size4of4 navbar__switch">
						<label class="navBar__label">Switch User : </label>
						<select class="navBar__accountsSelector" name="account">
						  <option value="User1">User1</option>
						  <option value="User2">User2</option>
						</select>
					</div>
				</div>
			</div>

			<div class="mainContent">
				<div class="container">
					<div class="gridCell size1of4 size4of4">
						<div class="sideBar">
							<h1 class="sideBar__profileName">
								Dinesh
							</h1>
							<h2 class="sideBar__profileAtName">
								@Dinesh
							</h2>
							<p class="sideBar__profileContent">
								Brings you news breaks:Exclusive political, entertainment, sports insight, unbiased-nonaligned Follow us @IndiaToday Official URL: http://indiatoday.in 
							</p>
							<div class="sideBar__profileLocation">
								<span class="iconGeo"></span>
								<span class="sideBar__profileLocation__name">Chennai</span>
								
							</div>
							<div class="sideBar__profileURL">
								<span class="iconURL"></span>
								<span class="sideBar__profileLocation__name">
									<a> india.in </a>
								</span>
							</div>
							<div class="sideBar__joinDate">
								<span class="iconDate"></span>
								<span class="sideBar__profileLocation__name">Joined August 2001</span>
							</div>
							<div class="sideBar__composeTweet">
								<div class="sideBar__composeTweet__head">What's happening?</div>
								<input class="sideBar__composeTweet__input" type="textarea">
								<div class="sideBar__composeTweet__btnWrap">
									<button class="sideBar__composeTweet__btnWrap__btn">
										<span class="iconTweet"></span>
										<span>Tweet</span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="gridCell size2of4 size4of4">
						<div class="profileHead">
							<div class="profileHead__content">
								<ul class="profileHead__content__list">
									<li class="profileHead__content__list__item">Tweets
									</li>
									<li class="profileHead__content__list__item">Tweets
									</li>
								</ul>
							</div>	
						</div>
						<div class="timeline">
							<ol class="timeline__list">
								<li class="timeline__list__item">
									<div class="timeline__list__item__content">
										<div class="timeline__list__item__content__header">
											<div>
												<img class="timeline__list__item__content__header__img" src="https://pbs.twimg.com/profile_images/787569535880531968/3FtQQHyA_bigger.jpg">
												<span class="timeline__list__item__content__header__name">India Today</span>
												<span class="timeline__list__item__content__header__sideName">@IndiaToday</span>
												<span class="timeline__list__item__content__header__sideName">2h</span>
											</div>
										</div>
										<div class="timeline__list__item__content__tweet">
											<p class="timeline__list__item__content__tweetText">
												Watch: Try this summery and healthy Arugula grape mango and melon seeds salad summery and healthy Arugula grape mango and melon seeds salad
											</p>
										</div>
										<div class="timeline__list__item__content__media">
											<img class="timeline__list__item__content__media__img" src="https://pbs.twimg.com/media/DBI4AP7XkAA_x37.jpg">
										</div>
										<div class="timeline__list__item__content__footer">
											<div class="timeline__list__item__content__footer__icon">
												<span class="timeline__list__item__content__footer__icon__reply">
												</span>
											</div>
											<div class="timeline__list__item__content__footer__icon">
												<span class="timeline__list__item__content__footer__icon__retweet">
												</span>
												<span class="timeline__list__item__content__footer__icon__count">10
												</span>
											</div>
											<div class="timeline__list__item__content__footer__icon">
												<span class="timeline__list__item__content__footer__icon__like">
												</span>
												<span class="timeline__list__item__content__footer__icon__count">7
												</span>
											</div>
											<div class="timeline__list__item__content__footer__icon">
												<span class="timeline__list__item__content__footer__icon__msg">
												</span>
											</div>
										</div>
									</div>
								</li>
								<li class="timeline__list__item">
									<div class="timeline__list__item__content">
										<div class="timeline__list__item__content__header">
											<div>
												<img class="timeline__list__item__content__header__img" src="https://pbs.twimg.com/profile_images/787569535880531968/3FtQQHyA_bigger.jpg">
												<span class="timeline__list__item__content__header__name">India Today</span>
												<span class="timeline__list__item__content__header__sideName">@IndiaToday</span>
												<span class="timeline__list__item__content__header__sideName">2h</span>
											</div>
										</div>
										<div class="timeline__list__item__content__tweet">
											<p class="timeline__list__item__content__tweetText">
												Watch: Try this summery and healthy Arugula grape mango and melon seeds salad summery and healthy Arugula grape mango and melon seeds salad
											</p>
										</div>
										<div class="timeline__list__item__content__media">
											<img class="timeline__list__item__content__media__img" src="https://pbs.twimg.com/media/DBI4AP7XkAA_x37.jpg">
										</div>
										<div class="timeline__list__item__content__footer">
											<div class="timeline__list__item__content__footer__icon">
												<span class="timeline__list__item__content__footer__icon__reply">
												</span>
											</div>
											<div class="timeline__list__item__content__footer__icon">
												<span class="timeline__list__item__content__footer__icon__retweet">
												</span>
												<span class="timeline__list__item__content__footer__icon__count">10
												</span>
											</div>
											<div class="timeline__list__item__content__footer__icon">
												<span class="timeline__list__item__content__footer__icon__like">
												</span>
												<span class="timeline__list__item__content__footer__icon__count">7
												</span>
											</div>
											<div class="timeline__list__item__content__footer__icon">
												<span class="timeline__list__item__content__footer__icon__msg">
												</span>
											</div>
										</div>
									</div>
								</li>
							</ol>
						</div>
					</div>
					<div class="gridCell size1of4">
					</div>
				</div>
			</div>
		</div>