@import './config.scss';

body{
    margin: 0px;
    background-color: $primary-bg-color;
    font-family: $primary-font;
    margin-bottom:50px;
}

h1,h2{
    margin: 0;
}

.container{
    max-width: $container-max-width;
    margin: 0 auto;
}

