@import './config.scss';
.banner,.banner__img{
    height : $banner-height;
}
.banner__img{
    width:100%;
    position: absolute;
}
.avatar{
    z-index: 5;
    bottom: -203px;
    left: 10px;
    position: relative;
}
.avatar__img{
    position: absolute;
    width:200px;
    height:200px;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 12px;
}