$primary-font : "Helvetica Neue","Helvetica","Arial","sans-serif";
$primary-bg-color : #f5f8fa;

$primary-font-family : 'rosettaicons';
$primary-font-url : '/fonts/rosetta-icons-Regular.woff';
$primary-font-color : #657786;

$container-max-width : 1190px;

$timeline-border-color : #e6ecf0;
$timeline-bg-color : #fff;
$timeline-border-size : 1px;
$timeline-padding : 9px 12px;

$profile-heading-border-color : #e6ecf0;
$profile-heading-bg-color : #fff;
$profile-heading-item-color : #0084B4;

$icon-color : #aab8c2;

$header-font-color : #14171a;
$header-at-name-font-color : #657786;

$tweet-button-color : #fff;
$tweet-button-bg-color : rgba(0,132,180,.8);
$tweet-button-height : 34px;
$tweet-button-width : 130px;
$tweet-button-padding : 8px 16px 7px 17px;

$nav-bar-bg-color : #fff;
$nav-bar-list-item-label-color: #657786;
$nav-bar-list-item-color: #0084B4;
$nav-bar-accounts-dropdown-color: #0084B4;

$side-bar-texarea-border-color : #0084B4;
$side-bar-url-color : #0084B4;

$banner-height : 320px;